.body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

a:hover {
  color: red;
}

h4 {
  animation: rainbow 14s infinite;
}

@keyframes rainbow { 
  0% { color: #a00; }
  12.5% { color: #f37500; }
  25% { color: #cfc100; } 
  50% { color: #7BC633; }
  62.5% { color: #2D9DC1; }
  75% { color: #572c86; }
  87.5% { color: #e68484; }
  100% { color: #a00; }
}
