body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  text-align: center;
  font-size: 32px;
  background-color: black;
}

.outer {
  height: 75vh;
}

.top {
  transform-origin: top left;
}

.parallax-container {
  height: 85vh;
}


.text {
  border-radius: 0.3em;
  padding: 1.7rem;
  background-color: #111;
  opacity: 0.9;
  color: white;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.skewed {
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.unskewed {
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  z-index: 1001;
}

.rainbow {
  height: 15px;
  z-index: 1001;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
  transform-origin: bottom right;
}

footer {
  position: fixed;
  font-size: 0.5em;
  bottom: 0;
  left: 0;
  width: 100%;
}

a {
  color: inherit;
}

a:hover {
  color: #ffb7c5;
}

@media screen and (max-width: 765px) {
  .parallax-container {
    height: 65vh;
  }

  footer {
    font-size: 0.45em;
    width: 100%;
  }

}