body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 32px;
  height: 100%;
  overflow-x: hidden;
  background-color: rgba(236, 147, 174, 0.5);
}

.top {
  transform-origin: top left;
}

.bot {
  position: absolute;
  left: -30px;
  width: 110%;
  transform-origin: bottom left;
  z-index: -1;
}

.text {
  -webkit-transition: all 0.5s ease-out; 
	transition: all 0.5s ease-out;
}

.text-wrapper {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.icon {
  justify-self: center;
  width: 1em;
}

.container {
  width: 50%;
}

.text {
  min-width: 280px;
  max-width: 420px;
  border-radius: 0.3em;
  padding: 1em 0 1em 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.69);
  color: white;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.text:hover {
  background-color: rgba(209, 170, 110, 0.69);
  letter-spacing: 0.12em;
  color: black;
}

.skewed {
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.unskewed {
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
}

.rainbow {
  height: 1rem;
}

footer {
  position: fixed;
  font-size: 0.5em;
  bottom: 0;
  left: 0;
  width: 100%;
}

a {
  color: inherit;
}

a:hover {
  color: #ffb7c5;
}

@media screen and (max-width: 765px) {

  footer {
    font-size: 0.45em;
    width: 100%;
  }

}
