

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.time {
    padding: 0 3px;
    margin-left: 3px;
    border-left: 1px solid;
    opacity: 0.7;
    font-size: 0.9em;
}

.dark-mode-toggle {
    display: grid;
    grid-template-columns: 36px 1fr;
    align-items: baseline;
}

