

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  border-top: 2px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
  box-shadow: 0 3px 6px 0 rgba(116, 129, 141, 0.1);
  -webkit-box-shadow: 0 3px 6px 0 rgba(116, 129, 141, 0.1);
  transition: background 0.4s ease-out;
  -webkit-transition: background 0.4s ease-out;
}

.app.dark .header{
  background: #1b1b1d;
  color: rgba(240, 240, 240, 0.9);
}

.date {
  font-size: 0.9em;
}

.time {
  padding: 0 6px;
  margin-left: 3px;
  border-left: 1px solid;
  opacity: 0.7;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
}

