
.switch {
  display: block;
  position: relative;
 	width: 22px;
  height: 10px;
  margin: 0 10px;
  border-radius: 20px;
  background: rgb(61, 110, 104);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  border-collapse: separate;
  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
}

.switch.off {
  background: rgb(163, 163, 163);
}

#switch {
 	clip: rect(0 0 0 0);
  position: absolute;
  visibility: hidden;
}

.slider {
  box-sizing: border-box;
  height: 16px;
  width: 16px;
  background: #fff;
  box-shadow: 0 0 1px 1px rgb(163, 163, 163);
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 14px;
  border-collapse: separate;
  transition: all 0.2s ease-in-out;
}

.slider.off {
  left: -6px;
} 