.social-media-box {
  padding: 25px 15px;
  height: 600px;
  width: 40%;
}

.box {
  position: sticky;
  position: -webkit-sticky;
  top: 65px;
  height: 200px;
  width: 100%;
  margin: 5px 0;
  background: #d3d3d3;
  border: 1px solid #79797957;
  padding: 15px;
}

.box .contact-title, .box .links-title {
  margin: 0;
  padding: 8px 0;
}

.box div a {
  opacity: 0.6;
  font-size: 15px;
}

@media only screen and (max-width:768px) {
  .social-media-box {
    padding: 15px 0;
    width: 100%;
    height: auto;
  }

  .box {
    width: 100%;
    position: relative;
    top: 0;
  }
}