.modal-comp {
  height: 100%;
  position: relative;
  max-width: 1000px;
}

.modal-close-button-container {
  position: absolute;
  left: 5px;
  top: 25px;
  height: 100%;
}

.modal-close-icon {
  width: 26px;
  height: 26px;
  top: 50px;
  left: 0;
  z-index: 3;
  background: gray;
  color: white;
  border-radius: 50%;
  position: sticky;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in out;
}

.modal-close-icon:hover {
  box-shadow: 0 3px 6px 0 rgba(116, 129, 141, 0.3);
}

.modal-content {
  height: 100%;
  margin: 0 18px;
  padding: 26px;
  box-shadow: 0 3px 6px 0 rgba(116, 129, 141, 0.1);
  border: 1px solid rgba(212, 218, 223, 0.6);
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
}

@media only screen and (max-width:568px) {
  .modal-content {
    margin: 0 16px;
    padding: 12px;
    border-bottom: none;
    box-shadow: none;
  }
  
  .modal-close-icon {
    width: 30px;
    height: 30px;
  }
  .modal-close-button-container {
    left: 2px;
    top: 24px;
  }
}