.responsive-image {
  width: 100%;
  height: auto;
  max-height: 750px;
  max-width: 750px;
}

.caption a {
  font-size: 0.7em;
  color: inherit;
  opacity: 0.6;
  text-decoration: none;
  text-align: right;
}