.content-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 10px;
}

.articles {
  max-width: 650px;
  padding: 0 15px;
  border-right: 1px solid #79797957;
  width: 50vw;
}

.sidebar {
  padding: 0 16px;
}

.sidebar .sticky-wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 55px;
}

@media only screen and (max-width:568px) {

  .content-wrapper {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .articles {
    padding: 15px 0;
    border-right: none;
    border-bottom: 4px double #79797957;
    width: 100%;
  }


.sidebar {
  padding: 10px 16px;
}

}
