.article-comp {
  margin-bottom: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #666;
}

.article-title {
  padding-top: 8px;
  font-size: 1em;
  line-height: 1.1875rem;
  color: inherit;
}

.app.dark a:hover > .article-title  {
  color: rgba(255, 186, 57);
}

a:hover > .article-title  {
  color: rgba(148, 113, 48);
}
