.article-comp {
  margin-bottom: 12px;
  padding: 8px 0px;
  border-bottom: 1px dotted #64646480;
}

.hide {
  display: none;
}

.hoverable {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

.article-title {
  padding-top: 8px;
  line-height: 1em;
  color: inherit;
  font-size: 24px;
  font-weight: bold;
}

.article-link,
.article-source {
  color: rgba(61, 61, 61, 0.7);
}

.article-source {
  padding: 6px 0;
}

.article-content {
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.4;
  max-width: 100vw;
  word-wrap: break-word;
}

.app.dark .article-link, 
.app.dark .article-source  {
  color: rgba(255, 255, 255, 0.5);
}

.app.dark .hoverable:hover .article-title  {
  color: #85dacc;
  text-decoration: underline;
}

.hoverable:hover .article-title  {
  color: #116048;
  text-decoration: underline;
}

@media only screen and (max-width:568px) {
  .article-info {
    padding: 0 16px;
  }
  .article-content {
    font-size: 16px;
    padding: 0 16px;
    line-height: 1.6;
  }
}